<div class="container">
<h1>Stupid coaching</h1>
  <form action="/answer" method="get">
    <p><label class="form-label" for="question">Ask your coach anything</label></p>
    <div class="input-group">
      <input class="form-control" type="text" name="question" id="question">
      <input type="submit" class="btn btn-primary" value="Ask!">
    </div>
  </form>
</div>
